{% extends "base.html" %}

{% block titulo %} lista productos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        listar clientes
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">registrar nuevo cliente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">productos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>RUT cliente</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>direccion</th>
                    <th>telefono</th>
                    <th>correo</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for cliente in clientes %}
                <tr>
                    <td scope="row">{{ cliente.rut_cliente }}</td>
                    <td scope="row">{{ cliente.nombre }}</td>
                    <td scope="row">{{ cliente.apellido }}</td>
                    <td scope="row">{{ cliente.direccion }}</td>
                    <td scope="row">{{ cliente.telefono }}</td>
                    <td scope="row">{{ cliente.correo }}</td>
                    <td scope="row">
                        <a name="" id="" class="btn btn-info" href="{% url 'editar' cliente.id %}" role="button">editar</a>
                        | 
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' cliente.id %}" role="button">borrar</a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>


{% endblock %}